.addon_list_container {
  width: 100%;
}

.addon_container {
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
  gap: 10px;
  height: 220px;
}

.addon_container .container_column {
  padding: 15px;
}

.addon_container .image {
  flex-basis: 15%;
  display: flex;
}

.addon_container .image img {
  display: block;
  width: auto;
  max-width: 500px;
  height: auto;
  margin: auto;
  max-height: 180px;
}

.addon_container .contents {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.addon_title {
  margin: 0;
  font-size: 25px;
  color: #4f4f4f;
  text-transform: uppercase;
  font-weight: 500;
}

.addon_description {
  font-size: 13px;
  color: #6f6f6f;
}

.addon_container .actions {
  flex-basis: 15%;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.book_price {
  display: block;
  font-size: 2em;
  font-weight: 700;
  margin: 0;
}

a.book_now_btn {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #000;
  padding: 15px 30px;
  border-radius: 3px;
  text-align: center;
}

@media (max-width: 900px) {
  .addon_list_container .addon_container {
    flex-direction: column;
    height: auto;
  }

  .addon_container .container_column {
    flex: 1;
  }

  .addon_container .actions {
    flex-direction: row;
    align-items: center;
  }

  .addon_container .actions > div {
    line-height: 10px;
  }
}