.booking_summary_container {
  display: flex;
}

.booking_summary_container .summary_container {
  flex: 2 1 0;
}

.booking_summary_container .summary_container ul {
  list-style-type: none;
}

.booking_summary_container .summary_container ul li span {
  font-weight: 700;
}

.booking_summary_container .payment_container {
  flex: 1 1 0;
}

.booking_summary_container .payment_container .payment-methods-container {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}

.booking_summary_container .payment_container .payment-methods-container .payment-method-info {
  display: flex;
  align-items: start;
  margin-bottom: 15px;
}

.booking_summary_container .payment_container .payment-methods-container .payment-method-info > span {
  height: 24px;
}

.booking_summary_container .payment_container .payment-methods-container .payment-method-info label {
  display: block;
  line-height: 1;
}

.booking_summary_container .payment_container .payment-methods-container .payment-method-info label span {
  display: block;
  font-size: 70%;
}

.booking_summary_container .payment_container #form_container {
  margin: 20px 0;
}

.booking_summary_container .payment_container .actions {
  display: flex;
  justify-content: space-between;
}

.booking_summary_container .payment_container .actions a {
  text-decoration: none;
  padding: 20px 60px;
  background: #333;
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  border-radius: 5px;
}